/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#root{
  background-color: #0f172a;
  /* background-color: #0e1526; */
}

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --root:#0e1526;
  /* --primary-color: #0a1d37; */
  --primary-color: #1b1c1c;
  /* --primary-color2: #A076F9; */
  /* --primary-color2:  #5eead4; */
  --primary-color2:  #6adef3;

  --hero-bg: #d6e5fb;
  /* --hero-bg: #DDE6ED; */
  --heading-fontSize: 2rem;
  --small-text-color: #97a5b7;
  --heading-text-color: #e2e8f0;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
  color: #e2e8f0!important;
  margin-bottom: 1rem!important;
}
h2, .h2{
  margin-bottom: 2rem!important;
}

/* h2:before {
  background-color: var(--primary-color2);
  content: "";
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  margin-bottom: 8px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 2rem;
} */
/* h2:after {
  background-color: var(--primary-color2);
  content: "";
  display: inline-block;
  height: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 3rem;
} */

p {
  color: var(--small-text-color);
  font-size: 1.1rem;
  margin-bottom: 0px!important;
  
}

h1,
h2 {
  color: #ffffff;
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img{
  width: 100%;
}

section{
  padding: 2rem 0rem;
}

/* scroll */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media only screen and (max-width:576px){
  
  section{
    padding: 2rem 0rem;
  }
 
}